<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        *{
            font-family: sans-serif;
        }
        #button{
            padding:20px 30px;
            background-color: #ffcb43;
            background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);
            border: none;
            color: white;
            font-size: larger;
            border-radius: 8px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div>
        <p>Hii <%=firstname%></p>
        <p>Forgot Your Password? don't Worry here is link to reset enjoy:<%=url%></p>
        <br>
        <a href="<%=url%>" id="button">ResetPassword</a>
    </div>
</body>